.video-container 
{
  position: relative;
  height: 100vh;
  overflow: hidden;
  opacity: 0.8;
}

.video-container video 
{
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.content 
{
  position: relative;
  z-index: 1;
  text-align: center;
  padding: 2rem;
}

.div-frame-login
  {
    position: fixed;
    background-color: #dcdce9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    border-radius: 8px !important;
    margin-left: 25%;
    overflow: auto;
    height: 45vh;
    width: 40%;
    top:200px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.8);
    opacity: 90%;
    padding-right: 25px;
  }